/build/
/target/
.*.sw?
.DS_Store
*~
/CMakeLists.txt.user
/plugins/ZynAddSubFx/zynaddsubfx/ExternalPrograms/Controller/Makefile
/plugins/ZynAddSubFx/zynaddsubfx/ExternalPrograms/Spliter/Makefile
/plugins/ZynAddSubFx/zynaddsubfx/doc/Makefile
/plugins/ZynAddSubFx/zynaddsubfx/doc/gen/Makefile
/data/locale/*.qm
Brewfile.lock.json
/music

# Personal project files and runtime artifacts
noctilux.lmms-db
noctilux.lmms-db-shm
noctilux.lmms-db-wal
MusicGen/
